<% layout('layouts/boilerplate') %>
    <div id="cluster-map"></div>
    <div class="text-center my-4">
    <h1>Welcome to <strong>YelpCamp</strong></h1>
    <p>Here you can discover campgrounds near your location.</p>
    </div>
    <!-- <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div> -->
    <div class="d-flex flex-wrap justify-content-center gap-3">
        <% for (let campground of campgrounds) { %>
            <div class="card all-campgrouds-card">
                <% if(campground.images.length) {%>
                    <img src="<%= campground.images[0].url %>" alt="" class="card-img-top">
                    <% } else { %>
                        <img src="https://via.placeholder.com/300x200" alt="" class="card-img-top">
                        <% } %>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= campground.title %>
                                </h5>
                                <p class="card-text">
                                    <%= campground.description.substring(0, 50) %>...
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <%= campground.location %>
                                    </small>
                                </p>
                                <a href="/campgrounds/<%= campground._id %>" class="card-link">View <%= campground.title
                                        %>&rarr;</a>
                            </div>
            </div>
            <% } %>
    </div>


    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
    </script>
    <script src="/scripts/clusterMap.js"></script>