<% layout('layouts/boilerplate') %>
    <div id="cluster-map"></div>
    <div class="text-center my-4">
    <h1 class="lexend-light">Welcome to <strong class="lexend-semibold">YelpCamp</strong></h1>
    <p class="lexend-regular">Here you can discover campgrounds near your location.</p>
    </div>
    <div class="d-flex flex-wrap justify-content-center gap-3 mb-4" id="campgroundContainer">
        <% for (let i = 0; i < campgrounds.length; i++) { %>
            <div class="card all-campgrouds-card campground-card lexend-regular" style="<%= i >= 9 ? 'display: none;' : '' %>">
                <% if(campgrounds[i].images.length) {%>
                    <img src="<%= campgrounds[i].images[0].url %>" alt="" class="card-img-top">
                    <% } else { %>
                        <img src="https://via.placeholder.com/300x200" alt="" class="card-img-top">
                        <% } %>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= campgrounds[i].title %>
                                </h5>
                                <p class="card-text text-body-secondary">
                                    <%= campgrounds[i].description.substring(0, 50) %>...
                                </p>
                                <p class="card-text">
                                    <small class="text-muted lexend-light">
                                        <%= campgrounds[i].location %>
                                    </small>
                                </p>
                                <a href="/campgrounds/<%= campgrounds[i]._id %>" class="card-link lexend-light">View <%= campgrounds[i].title
                                        %>&rarr;</a>
                            </div>
            </div>
            <% } %>
    </div>

    <!-- Load More and Show Less Buttons -->
    <% if (campgrounds.length > 9) { %>
    <div class="text-center mb-4 lexend-regular">
        <button id="loadMore" class="btn btn-outline-primary">Load More</button>
        <button id="showLess" class="btn btn-secondary" style="display: none;">Show Less</button>
    </div>
    <% } %>

    <section class="index-banner lexend-regular">
        <strong>Discover new places every day</strong>
    </section>

<!-- //////////// SCRIPTS //////////// -->
    <script src="/scripts/showMoreOrLessButton.js"></script>
    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
    </script>
    <script src="/scripts/clusterMap.js"></script>